* {
    border: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    overflow-x: hidden;
}

img {max-width:100%;}

.parallax {
    
    background-image: url("./img/background.jpg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header, .right-links, li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}

.header {
    background-color: rgba(0, 0, 0, 0.8);
}


.right-links {
    width: 30%;
}


.menu {
    display: flex;
    flex: 1 0 auto;
    min-width: 100%;
    justify-content: space-around;
    padding-right: 50px;
}

.menu a {
    display: flex;
    flex: 1 0 auto;
    text-decoration: none;
    color: white;
    align-items: center;
}

.menu img {
    width: 40px;
    height: 40px;
    padding-right: 5px;
    filter: invert(1);

}

.logo img {
    padding-top: 5px;
    height: 75px;
    width: auto;
}



.content {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: auto;
    //border: 5px solid red;
}


.top {
    display: flex;
    flex: 1;
    min-height: 600px;
    margin: 100px 100px 50px 100px;
    background-color: rgba(68, 66, 66, 0.644);
    box-shadow: 0 0 10px 10px purple;
}


.top-left, .top-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 0 15px;
    flex: 1;
    //border: 1px solid red;
}

.middle {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    //border: 5px solid red;
}


.middle-text {
    display: flex;
    flex: 1;
    margin: 10px;
    font-size: 36px;
    text-shadow: 2px 2px 1px black;
    color: blue;
    //border: 1px solid red;

}

.pictures-main {
    display: flex;
    flex: 1;
    width: 100%;
    min-height: 80%;
    background-color: rgba(68, 66, 66, 0.644);
    box-shadow: 0 0 10px 10px purple;
    //padding: 50px;
    //gap: 48px;
    //border: 1px solid red;
}

.pictures-main .pictures {
    display: flex;
    flex: 1;
    flex-direction: column;
    //justify-content: space-around;
    align-items: center;
    margin: 10px 48px 10px 48px;
    max-height: 300px;
    background-color: rgba(66, 66, 66, 0.601);
    box-shadow: 0 0 5px 5px black;
}

.pictures-main .pictures img {
    height: 100%;
    padding-bottom: 1%;
}

.pictures:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

.mid-bottom {
    margin-top: 8em;
    padding: 20px 0 20px 0;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: rgba(68, 66, 66, 0.644)
}

.bs-text {
    width: 50%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cite {
    text-align: right;
    font-style: italic;
}


.bottom {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 24px;
    padding: 50px 0 50px 0;
}

.signup {
    display: flex;
    flex: 0 1 auto;
    justify-content: space-around;
    align-items: center;
    padding: 28px;
    width: 50%;
    background-color: rgba(127, 80, 255, 0.719);
}

button {
    font-size: 1.4em;
    background-color: rgba(68, 0, 253, 0.719);
    outline: 16px solid rgba(68, 0, 253, 0.719);
    border-radius: 2rem;
}

footer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    border: 1px solid red;
    }